<!DOCTYPE html>
<html lang="en" ng-app="fetchApp">

<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/app.js" type="text/javascript" charset="utf-8"></script>
</head>


<body class="centered" ng-controller="MainController">

    <div>
        Url <input type="text" ng-model="url">
        <button ng-click="fetch()">CLick Me!</button>
    </div>
    <ul>
        <li ng-repeat="response in responses">
            {{response.statusCode}}
        </li>
    </ul>
    <!--<div>
        <select ng-model="method">
                <option value="Get">Get</option>
                <option value="Post">Post</option>
                <option value="Put">Put</option>
                <option value="Delete">Delete</option>
        </select>
    </div>-->
    <!--<input type="submit" ng-click="" value="Fetch">-->
</body>


</html>


<!--
Your Home page should have a text input (for URL), Done
select/dropdown (containing HTTP methods) and a Done
"Fetch" button all centered on the page. Done
The user should be able to select an HTTP Method from the dropdown. Done
Clicking the "Fetch" button will make an AJAX call to the specified URL. 
Your drop-down element should contain/allow for the user to use the GET, POST, OPTIONS and HEAD HTTP methods.
-->